.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 4rem 2rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
h2 {
  margin-top: -1rem;
  padding-bottom: 0.6rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
input {
  display: block;
  width: 96%;
  margin: 1rem 0;
  font-size: 1rem;
  padding: 10px;
}
select {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-size: 1rem;
  padding: 5px 10px;
}
#submit {
  display: block;
  width: 100%;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #ddd;
}
#submit:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
