.container{
	width: 500px;
	margin: auto;
	padding: 2rem 1rem;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
form{
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #ddd;
}
label, input{
	display: block;
	margin: auto;
	margin: 0.5rem auto;
	font-size: 1rem;
	padding: 5px;
}

